.notifications {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  .notification {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-width: 150px;
    max-width: 300px;

    &.error {
      background-color: red;
    }
    &.info {
      background-color: aqua;
      color: #000;
    }
    &.success {
      background-color: forestgreen;
    }
    &.warn {
      background-color: orange;
    }
  }
}
